@font-face {
    font-family: 'halo_outlineregular';
    src: url('../fonts/halo_outline-webfont.woff2') format('woff2'),
         url('../fonts/halo_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'haloregular';
    src: url('../fonts/halo-webfont.woff2') format('woff2'),
         url('../fonts/halo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



  body{
    font-family: Roboto;
    background-color: #33353d;
    color: gray;
  }

  main{
    width: 100%;
    text-align: center;
    position: relative;
  }
  

  h2{
      color: white;
      font-family: Montserrat, sans-serif;
      text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.39);
  }


/* navbar */

nav{
    position: fixed;
    background-color: #26272b;
    height: 40px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px black solid; 
}

#header-nav-title{
    font-family: haloregular;
    background: -webkit-linear-gradient(white, rgb(53,71,197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 2em;
}

@media only screen and (max-width: 1096px) {
    #header-nav-title{
        text-align: center;
        margin-left: 0;
    }
}


/*joe remake section*/

/*.zoom {
  transition: 2000ms ease-in-out;
}

.zoom:hover {
  width: 80%;
  height: auto;
}*/




/*joes favorite section*/
#flex-container-joes-og {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#joe-fav-gallery {
    height: auto;
    width: 85%;
    margin: auto;
    padding-top: 70px;
  }
  
  .item {
    padding: 5px;
  }
  
  .item img {
    height: 150px;
    margin: 10px;
    display: block;
  }
  
  .item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
  }
  

  #joe-fav-gallery h2{
    transition: all 1000ms ease-in 100ms;
  }

  #joe-fav-gallery h2:hover{
    font-size: 2.25em;
    text-shadow: 0 0 10px white, 0 0 15px #325992;
  }




/*about me*/

.about-me{

    width: 80%;
    
    display: inline-block;
    margin: 2em auto;

    background-color: #26272b;
    color:whitesmoke;
   
    padding-bottom: 1.25em;
    margin: 3em;

    border: 3px solid;
    /*border-image-source: linear-gradient(45deg, purple, violet);*/
    border-image-source: linear-gradient(-45deg, #ccae2c,#3366cc);
    border-image-slice: 1;
  

}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

 
  /*
.about-me-container{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
*/


.about-me h2{
    padding-top: 20px;
    padding-left: 2em;
    text-align: left;
    transition: all 1000ms ease-in 100ms;
    
}


.about-me h2:hover{
    padding-left: 5em;
    text-shadow: 0 0 10px white, 0 0 15px #325992;
    font-size: 2.25em;
}


.about-me img{
    width: auto;
    height: 350px;
}



.about-me p{
    max-width: 580px;
    min-width: 250px;
    height: auto;
    padding-right: 3em;
    padding-left: 1.25em;
}

@media only screen and (max-width: 1096px) {
    .about-me h2{
        text-align: center;
        font-size: 3em;
        padding-left:0;
    }
    
    .about-me p{
        padding-right: 1.25em;
    }

    .about-me h2:hover{
        padding-left: 0;

    }


  }



/* Footer */

          /*joe birthday icon grow on hover*/
          .hbd-img{
            transition: 1000ms ease-in-out;
        }
        
        .hbd-img:hover{
            filter: brightness(1.05);
            transform: scale(1.55);
        }



        

.site-footer
  {
    background-color:#26272b;
    padding:20px 0 20px;
    font-size:15px;
    line-height:24px;
    margin-top: 4em;
    
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  /*.site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  */
  .copyright-text
  {
    margin:0;
    color:#737373;
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }


  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none;


  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#33353d;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#ccae2c
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }

  /*social media icon-specific*/
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.reddit:hover
  {
    background-color:#FF5700
  } 
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.imgur:hover
  {
    background-color:#85bf25
  }
  .social-icons a.xbox:hover
  {
    background-color:#5dc21e
  }
  .social-icons a.twitch:hover
  {
    background-color:#6441A4
  }
  .social-icons a.instagram:hover
  {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  }
  .social-icons a.halo-waypoint:hover
  {
    background: linear-gradient(white, rgb(53,71,197));
  }
  .social-icons a.forgehub:hover
  {
    background-color:#00bcd4
  }

  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }





  /* PARALLAX */

a.border{
  font-size:25px;
  color: #f7f7f7;
  background-color:transparent;
  transition: all 700ms linear 100ms;
}

a.border:hover{
  font-size:25px;
  color: #f7f7f7 !important;
  border: 3px solid !important;
  border-image-source:linear-gradient(-45deg, #ccae2c,#3366cc) !important;
  border-image-slice: 1 !important; 
  background-color:transparent !important;
}

  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
   .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-end {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../images/guardian/guardian-hbd-halo-3.png");
    min-height: 400px;
  }
  
  .bgimg-2 {
    background-image: url("../images/ascension/img1.png");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("../images/chillout/chill-out-cs.png");
    min-height: 400px;
  }

  .bgimg-end {
    background-image: url("../images/jdm-work-it.jpg");
    /* jdm-work-it image is from circa 06.16.2008 */
    min-height: 700px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption a.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones --- and make h1 header responsive */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-end {
      background-attachment: scroll;
    }

    h1.display-3{
      font-size: 2.25em;
    } 

  }


/*Youtube imbed*/

.yt-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  box-shadow: 10px 10px 50px grey;
  opacity:20%;
}

.yt-container iframe, .yt-container object, .yt-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.yt-container:hover{
  opacity:80%;
}
  


  /* VIDEO OVERLAY */

  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url("../images/screenshots/002-i-am-JOEDANNYMAN...\ -08.09.2010.jpg") black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }



  /* CSS Background image slideshow */
  /*from https://frontendscript.com/css-background-image-slideshow-fade/*/
  
    /*Let’s style the styling the figure element. We will add animation (will define using @keyframes). 
    We will use background-size: cover; to make it responsive.
    To align center the images of the viewport, We will use the background-position: center center;
    With the help of position property, We will cover the all of page viewport with photo.*/

        .crossfade > figure {
          animation: imageAnimation 96s linear infinite 0s;
          backface-visibility: hidden;
          background-size: cover;
          background-position: center center;
          color: transparent;
          height: 700px;
          left: 0px;
          opacity: 0;
          position: relative;
          top: 0px;
          width: 100%;
          z-index: 0;

          /* background attachment is fixed for parallax effect*/
          background-attachment: fixed;
        }

          /* Turn off parallax scrolling for tablets and phones --- and make h1 header responsive */
          @media only screen and (max-device-width: 1024px) {
            .crossfade > figure {
              background-attachment: scroll;
            }


  }



        
        /*Make banner only the height of the parallax window*/
        .crossfade{
          height: 715px;
        }


    /*Now we will define the background photos for all the figure element. 
    So that each following slider image will appear after a delay of time. '
    We did addition of plus 6 sec for each image.*/

        .crossfade > figure:nth-child(1) {
          background-image: url('../images/screenshots/001-jdm-work-it-06.16.2008.jpg');
          min-height: 700px;
          
        }
        .crossfade > figure:nth-child(2) {
          animation-delay: 6s;
          background-image: url('../images/screenshots/002-i-am-JOEDANNYMAN...\ -08.09.2010.jpg');
          min-height: 700px;
          top: -715px;
        }
        .crossfade > figure:nth-child(3) {
          animation-delay: 12s;
          background-image: url('../images/screenshots/003-thor-and-joe-08.09.2010.jpg');
          min-height: 700px;
          top: -1430px;
        }
        .crossfade > figure:nth-child(4) {
          animation-delay: 18s;
          background-image: url('../images/screenshots/004-the-end-is-near-...so-have-fun-08.09.2010.jpg');
          min-height: 700px;
          top: -2145px;
        }
        .crossfade > figure:nth-child(5) {
          animation-delay: 24s;
          background-image: url('../images/screenshots/005-joedanny-...man-of-action-08.09.2010.jpg');
          min-height: 700px;
          top: -2860px;
        }
        .crossfade > figure:nth-child(6) {
          animation-delay: 30s;
          background-image: url('../images/screenshots/006-halo-4-06.07.2011.jpg');
          min-height: 700px;
          top: -3575px;
        }
        .crossfade > figure:nth-child(7) {
          animation-delay: 36s;
          background-image: url('../images/screenshots/007-forger-06.28.2010.jpg');
          min-height: 700px;
          top: -4290px;
        }
        .crossfade > figure:nth-child(8) {
          animation-delay: 42s;
          background-image: url('../images/screenshots/008-hey-there-03.21.2011.jpg');
          min-height: 700px;
          top: -5005px;
        }
        .crossfade > figure:nth-child(9) {
          animation-delay: 48s;
          background-image: url('../images/screenshots/009-shadows-06.28.2010.jpg');
          min-height: 700px;
          top: -5720px;
        }
        .crossfade > figure:nth-child(10) {
          animation-delay: 54s;
          background-image: url('../images/screenshots/010-face-melt-06.28.2010.jpg');
          min-height: 700px;
          top: -6435px;
        }
        .crossfade > figure:nth-child(11) {
          animation-delay: 60s;
          background-image: url('../images/screenshots/011-fire-ice-07.21.2008.jpg');
          min-height: 700px;
          top: -7150px;
        }
        .crossfade > figure:nth-child(12) {
          animation-delay: 66s;
          background-image: url('../images/screenshots/012-shot-7-06.19.2011.jpg');
          min-height: 700px;
          top: -7865px;
        }
        .crossfade > figure:nth-child(13) {
          animation-delay: 72s;
          background-image: url('../images/screenshots/013-final-push-06.24.2010.jpg');
          min-height: 700px;
          top: -8580px;
        }
        .crossfade > figure:nth-child(14) {
          animation-delay: 78s;
          background-image: url('../images/screenshots/014-joedannyman-whatchu-lookin-at-03.18.2010.jpg');
          min-height: 700px;
          top: -9295px;
        }
        .crossfade > figure:nth-child(15) {
          animation-delay: 84s;
          background-image: url('../images/screenshots/015-look-ma-12.12.2010.jpg');
          min-height: 700px;
          top: -10010px;
        }
        .crossfade > figure:nth-child(16) {
          animation-delay: 90s;
          background-image: url('../images/screenshots/016-deer-season-11.17.2008.jpg');
          min-height: 700px;
          top: -10725px;
        }



    /*creates @keyframes animation */
        @keyframes imageAnimation {
          0% {
            animation-timing-function: ease-in;
            opacity: 0;
          }
          2.13% {
            animation-timing-function: ease-out;
            opacity: 1;
          }
          4.53% {
            opacity: 1
          }
          6.67% {
            opacity: 0
          }
          100% {
            opacity: 0
          }
        }