@font-face {
    font-family: 'halo_outlineregular';
    src: url('../fonts/halo_outline-webfont.woff2') format('woff2'),
         url('../fonts/halo_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'haloregular';
    src: url('../fonts/halo-webfont.woff2') format('woff2'),
         url('../fonts/halo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



  body{
    font-family: Roboto;
    background-color: #33353d;
    color: gray;
  }

  main{
    width: 100%;
    text-align: center;
    position: relative;
    top: 40px;
  }
  

  h2{
      color: white;
      font-family: Montserrat, sans-serif;
      text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.39);
  }


/* navbar */

nav{
    position: fixed;
    background-color: #26272b;
    height: 40px;
    width: 100%;
    z-index: 100;
}

#header-nav-title{
    font-family: haloregular;
    background: -webkit-linear-gradient(white, rgb(53,71,197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1096px) {
    #header-nav-title{
        text-align: center;
    }
}


/*joes favorite section*/
#flex-container-joes-og {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#joe-fav-gallery {
    height: auto;
    width: 85%;
    margin: auto;
    padding-top: 70px;
  }
  
  .item {
    padding: 5px;
  }
  
  .item img {
    height: 150px;
    margin: 10px;
    display: block;
  }
  
  .item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
  }
  

  #joe-fav-gallery h2{
    transition: all 1000ms ease-in 100ms;
  }

  #joe-fav-gallery h2:hover{
    font-size: 2.25em;
    text-shadow: 0 0 10px white, 0 0 15px #325992;
  }




/*about me*/

.about-me{

    width: 80%;
    
    display: inline-block;
    margin: 2em auto;

    background-color: #26272b;
    color:whitesmoke;
   
    padding-bottom: 1.25em;
    margin: 3em;

    border: 3px solid;
    /*border-image-source: linear-gradient(45deg, purple, violet);*/
    border-image-source: linear-gradient(-45deg, #ccae2c,#3366cc);
    border-image-slice: 1;
  

}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

 
  /*
.about-me-container{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
*/


.about-me h2{
    padding-top: 20px;
    padding-left: 2em;
    text-align: left;
    transition: all 1000ms ease-in 100ms;
    
}


.about-me h2:hover{
    padding-left: 5em;
    text-shadow: 0 0 10px white, 0 0 15px #325992;
    font-size: 2.25em;
}


.about-me img{
    width: auto;
    height: 350px;
}



.about-me p{
    max-width: 580px;
    min-width: 250px;
    height: auto;
    padding-right: 3em;
    padding-left: 1.25em;
}

@media only screen and (max-width: 1096px) {
    .about-me h2{
        text-align: center;
        font-size: 3em;
        padding-left:0;
    }
    
    .about-me p{
        padding-right: 1.25em;
    }

    .about-me h2:hover{
        padding-left: 0;

    }


  }



/* Footer */


.site-footer
  {
    background-color:#26272b;
    padding:20px 0 20px;
    font-size:15px;
    line-height:24px;
    margin-top: 4em;
    
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  /*.site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  */
  .copyright-text
  {
    margin:0;
    color:#737373;
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }


  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none;


  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#33353d;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#ccae2c
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }

  /*social media icon-specific*/
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.reddit:hover
  {
    background-color:#FF5700
  } 
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.imgur:hover
  {
    background-color:#85bf25
  }
  .social-icons a.xbox:hover
  {
    background-color:#5dc21e
  }
  .social-icons a.twitch:hover
  {
    background-color:#6441A4
  }
  .social-icons a.instagram:hover
  {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  }
  .social-icons a.halo-waypoint:hover
  {
    background: linear-gradient(white, rgb(53,71,197));
  }
  .social-icons a.forgehub:hover
  {
    background-color:#00bcd4
  }

  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }


